
@import './box.css';
@import './activitybar.css';
@import './createrecipe.css';
@import './postsstyle.css';
* {
	box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
body,html{
    height: 100%;
    
}
#BG{
    position: absolute;
    background-image: url("../images/BG.png");
    background-size: 50%;
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
    display:block;
    position: relative;
    

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
  /* Set up proportionate scaling */
  width: 100%;
  
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
}


/*Header*/
header{
    display: block;
    background-color: #353434;
    width: inherit;
    height: 55px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    
}

li{
    float: left;
}


/*
a{
    display: block;
    padding: 5px;
    padding-left: 130px;
}
*/


#logga {
    margin-top: 5px;
    width: 55px;
    margin-left: 135px;
    
}

#firstchoice{
    margin-left: 180px;
}
.choice {
    
    display: block;
    padding: 20px;
    padding-bottom: 15.7px;
    margin-left: 60px;
    color: white;
    text-decoration:none;
    font-size: 12pt;
    font-weight: 200;
    

}
    /*Dropdown menu*/
    /*Vill slå ihop denna med nedanstående. */
    .conchoice{
        display: block;
        padding: 20px;
        padding-bottom: 15.7px;
        
        color: white;
        text-decoration:none;
        font-size: 12pt;
        font-weight: 200;
        
        

    }
    
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
        position: relative;
        display: block;
        margin-left: 60px;
        
        }
        
        /* The dropdownbox */
        .dropdown-content {
        
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
        
        /* Links inside the dropdown */
        .dropdown-content a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        
        }
        
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .conchoice {
        background-color: #111;
        }
        
        
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
        display: block;
        }
          
          
          


#lastchoice{
    position: absolute;
    right:   10%;
}

li .choice:hover {
    background-color: #111;
}

.conchoice:hover {
    background-color: #111;
}

#posleftcorner{
    text-align: center;
    margin: 30px;
    margin-left: 50px;
    
}

/*Fredrik Css*/

.form-control small {
	color: red;

	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


.thread-box {
    position: relative;
    color: #272727;;
    width: 96%;
    height: 87%;
    padding: 2%;
    background-color: ivory;
    margin: 10px auto;
    border-radius: 15px;
    
    
    
}
.thread-box2 {
    position: relative;
    color: #272727;;
    width: 40%;
    height: 20%;
    padding: 0.1%;
    margin: 10px auto;
    border-radius: 15px;
    
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.container {
    display: block;
    color:#282828;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
    max-width: 700px;
    background-color: ivory;
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.5);

}

#map {
    height: 500px; 
    width: 500px; 
    margin-left: auto; 
    margin-right:auto;
} 
.error{
    text-align: center;
}
.inputfield{
    margin-left: auto;
    margin-right: auto;
}